name: CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: 'resources/app/package-lock.json'
    
    - name: Install dependencies
      run: |
        cd resources/app
        npm install
    
    - name: Verify file structure
      run: |
        test -f resources/app/main.js
        test -f resources/app/preload.js
        test -f resources/app/package.json
        test -d resources/app/src
